# Raw data files, to prevent sensible data leaks and versioning large amounts of data
data/raw/*.csv

# Python cache
__pycache__/

# Python venv
.venv/

# PyCharm
.idea/

*.csv
*.db

enrich_raw_csv.py

*sql